:root{
    --text-sm  : 0.95em;
    --code-body-boder-thickness  : 1.5px;
    --code-body-boder-radius     : 7px;
    --code-background-color      : #f8f8f8;
    --code-julia-color-dark      : #542788;
    --code-bash-color-dark       : #00441B;
    --code-markdown-color-dark   : #053061;
    --code-perl-color-dark       : #016C59;
    --code-rust-color-dark       : #BF5B17;
    --code-plain-color-dark      : #010101;
    --code-python-color-dark     : #FB9A99;
    --code-json-color-dark       : #A6BDDB;
    --code-html-color-dark       : #FCBBA1;
    --code-javascript-color-dark : #C7E9B4;
    --code-css-color-dark        : #DADAEB;
    --code-null-color            : #38598b;
    --code-julia-color-light     : #f6ebfb;
    --code-bash-color-light      : #f6fff9;
    --code-markdown-color-light  : #f4f9ff;
    --code-perl-color-light      : #f4fffd;
    --code-rust-color-light      : #fff8f1;
    --code-plain-color-light     : #f5f5f5;
    --code-python-color-light    : #fff5f5;
    --code-json-color-light      : #f1f7ff;
    --code-html-color-light      : #ffeee7;
    --code-javascript-color-light: #f9fff6;
    --code-css-color-light       : #f9f9ff;
}


.center {
    text-align: center;
}

.center img {
    width: 75%;
    min-width: 300px;
}

.code-output {
    margin-top: 1em;
    margin-left: 1em;
    border: 1px solid var(--code-null-color);
}

.code-output .code-figure {
    padding-top: 1em;
    padding-bottom: .75em;
}

.trim {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

.trim .md-result {
    margin-bottom: 1.5em;
}


/* ################CODE BLOCK#################### */
.code-lag {
    max-width: 100%;
    padding: 0%;
    /* position: relative; */
    float: right;
    margin-right: 0.5em;
    margin-bottom: -0.8em;
    white-space: normal;
    background-color: var(--code-background-color);
    font-size: 0.7em;
    color: #636363;
    font-variant: small-caps;
    padding-left: .3em;
    padding-right: .3em;
    border-radius: var(--code-body-boder-radius);
    
}

/* ===================================
           MY code blockers
   =================================== */

.code {
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-width: 0;
    border-radius: var(--code-body-boder-radius);
    margin-bottom: 1em;
    background-color: var(--code-background-color);
    border: var(--code-body-boder-thickness) dashed var(--code-plain-color-dark);
    font-size: var(--text-sm);
    line-height: 1.2em;
}

.code p {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.code-legend {
    background-color: var(--code-plain-color-light);
    font-size: var(--text-sm);
    font-variant: small-caps;
    padding-left: .2em;
    padding-right: .2em;
    padding-top: 0rem;
    padding-bottom: 0.05rem;
    border-radius: var(--code-body-boder-radius);
    border: 2px solid var(--code-plain-color-dark);
}

.code .hljs {
    background-color: transparent;
    border: 0;
    margin: 0%;
    padding: 0em;
    padding-left: 1em ;
}

.code pre {
    margin: 0;
    white-space:pre-wrap;
}

.code code {
    padding: 0;
    padding-top: 0px;
}

.code-julia      { border: var(--code-body-boder-thickness) dashed var(--code-julia-color-dark)     ; }
.code-bash       { border: var(--code-body-boder-thickness) dashed var(--code-bash-color-dark)      ; }
.code-plain      { border: var(--code-body-boder-thickness) dashed var(--code-plain-color-dark)     ; }
.code-markdown   { border: var(--code-body-boder-thickness) dashed var(--code-markdown-color-dark)  ; }
.code-perl       { border: var(--code-body-boder-thickness) dashed var(--code-perl-color-dark)      ; }
.code-python     { border: var(--code-body-boder-thickness) dashed var(--code-python-color-dark)    ; }
.code-rust       { border: var(--code-body-boder-thickness) dashed var(--code-rust-color-dark)      ; }
.code-html       { border: var(--code-body-boder-thickness) dashed var(--code-html-color-dark)      ; }
.code-json       { border: var(--code-body-boder-thickness) dashed var(--code-json-color-dark)      ; }
.code-css        { border: var(--code-body-boder-thickness) dashed var(--code-css-color-dark)       ; }
.code-shell      { border: var(--code-body-boder-thickness) dashed var(--code-bash-color-dark)      ; }
.code-javascript { border: var(--code-body-boder-thickness) dashed var(--code-javascript-color-dark); }

.code-legend-julia      { background-color: var(--code-julia-color-light)     ; border: 2px solid var(--code-julia-color-dark)     ; }
.code-legend-bash       { background-color: var(--code-bash-color-light)      ; border: 2px solid var(--code-bash-color-dark)      ; }
.code-legend-plain      { background-color: var(--code-plain-color-light)     ; border: 2px solid var(--code-plain-color-dark)     ; }
.code-legend-markdown   { background-color: var(--code-markdown-color-light)  ; border: 2px solid var(--code-markdown-color-dark)  ; }
.code-legend-perl       { background-color: var(--code-perl-color-light)      ; border: 2px solid var(--code-perl-color-dark)      ; }
.code-legend-python     { background-color: var(--code-python-color-light)    ; border: 2px solid var(--code-python-color-dark)    ; }
.code-legend-rust       { background-color: var(--code-rust-color-light)      ; border: 2px solid var(--code-rust-color-dark)      ; }
.code-legend-html       { background-color: var(--code-html-color-light)      ; border: 2px solid var(--code-html-color-dark)      ; }
.code-legend-json       { background-color: var(--code-json-color-light)      ; border: 2px solid var(--code-json-color-dark)      ; }
.code-legend-css        { background-color: var(--code-css-color-light)       ; border: 2px solid var(--code-css-color-dark)       ; }
.code-legend-shell      { background-color: var(--code-bash-color-light)      ; border: 2px solid var(--code-bash-color-dark)      ; }
.code-legend-javascript { background-color: var(--code-javascript-color-light); border: 2px solid var(--code-javascript-color-dark); }
