:root{
    --code-body-boder-thickness  : 1.5px;
    --code-body-boder-radius     : 7px;
    --code-background-color      : #f8f8f8;
    --code-julia-color-dark      : #542788;
    --code-julia-color-light     : #f6ebfb;
    --code-bash-color-dark       : #00441B;
    --code-bash-color-light      : #f6fff9;
    --code-markdown-color-dark   : #053061;
    --code-markdown-color-light  : #f4f9ff;
    --code-perl-color-dark       : #016C59;
    --code-perl-color-light      : #f4fffd;
    --code-rust-color-dark       : #BF5B17;
    --code-rust-color-light      : #fff8f1;
    --code-plain-color-dark      : #010101;
    --code-plain-color-light     : #f5f5f5;
    --code-python-color-dark     : #FB9A99;
    --code-python-color-light    : #fff5f5;
    --code-json-color-dark       : #A6BDDB;
    --code-json-color-light      : #f1f7ff;
    --code-html-color-dark       : #FCBBA1;
    --code-html-color-light      : #ffeee7;
    --code-javascript-color-dark : #C7E9B4;
    --code-javascript-color-light: #f9fff6;
    --code-css-color-dark        : #DADAEB;
    --code-css-color-light       : #f9f9ff;
    /* COLOR PALETTE */
    --col-cream: #fffefc;
    --col-chalk: #c6cbd3;
    --col-xlight: #e7eaf6;
    --col-light: #a2a8d3;
    --col-dark: #38598b;
    --col-xdark: #113f67;
    --col-gray: gray;
    --col-black: #000;
    --col-blue: #118cfd;
    --col-graphite: #4f5a66;
    --col-green: #12ca93;
    --col-ivory: #f0f0f0;
    --col-lgray: #f8f8f8;
    --col-purple: #8470be;
    --col-red: #e95f6a;
    --col-shale: #939eae;
    --col-slate: #384248;
    --col-yellow: #f7c543;
    --col-brown: #7a461c;
    --col-coral: #ff758c;
    --col-fuchsia: #cf66c3;
    --col-gold: #9d8714;
    --col-indigo: #6b7ede;
    --col-lavender: #abc3ff;
    --col-lime: #9ace5a;
    --col-olive: #837400;
    --col-orange: #fe8e4f;
    --col-pink: #e15ca5;
    --col-teal: #00b6e6;
    --col-tiffany: #00beaa;
    --col-bluePastel: #a8edff;
    --col-greenPastel: #9bfff6;
    --col-orangePastel: #f5bc90;
    --col-purplePastel: #e8d0ff;
    --col-redPastel: #ffc4c9;
    --col-yellowPastel: #ffffa7;
    --col-lblue: #03a7dd;
}



/*
SHOW MD
*/

.md-input {
    border-width: 0;
    border-radius: 7px;
    margin-bottom: 1em;
    background-color: var(--block-background);
    font-size: var(--text-sm);
    line-height: 1.2em;
}

.md-input-legend {
    background-color: var(--col-cream);
    font-size: var(--text-sm);
    font-variant: small-caps;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .1em;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
}

.md-input .hljs {
    background-color: transparent;
}

.md-input pre {
    margin: 0;
}

.md-input code {
    padding: 0;
    padding-top: 5px;
}

.md-result {
    border-radius: 7px;
    background-color: #e3edf2;
    border: 1px solid #5bc0de;
    margin-left: 1.5%;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    padding-left: 1.5em;
    font-size: var(--text-sm);
    margin-bottom: 2em;
    width: 89.5%;
}

.md-result img {
    width: 40%;
    padding-left: 1em;
}

.md-result-legend {
    background-color: var(--col-cream);
    border-radius: 5px;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .1em;
    font-variant: small-caps;
    font-size: var(--text-sm);
    color: navy;
    border: 1px solid #5bc0de;
}

.md-result pre {
    margin: 0;
}

.md-result pre {
    max-width: 100%;
}

.md-result .code-output pre {
    max-width: 100%;
}


.md-result h1 {
    padding: 0;
}

.md-result h2 {
    padding: 0;
}

.md-result h3 {
    padding: 0;
}

.md-result h1 a {
    color: black;
}

.md-result h2 a {
    color: black;
}

.md-result h3 a {
    color: black;
}

.md-result blockquote {
    background-color: var(--col-xlight);
    padding: 0.5em 1em;
    border-left: 5px solid var(--col-xdark);
}

.md-result ul ul {
    padding-left: 1.5em;
}

.md-result ol ul {
    padding-left: 1.5em;
}


.center {
    text-align: center;
}

.center img {
    width: 75%;
    min-width: 300px;
}

.code-output {
    margin-top: 1em;
    margin-left: 1em;
    border: 1px solid var(--col-coral);
}

.code-output .code-figure {
    padding-top: 1em;
    padding-bottom: .75em;
}

.trim {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

.trim .md-result {
    margin-bottom: 1.5em;
}


/* ################CODE BLOCK#################### */
.code-lag {
    max-width: 100%;
    padding: 0%;
    position: relative;
    float: right;
    margin-right: 0.5em;
    margin-bottom: -0.8em;
    white-space: normal;
    background-color: var(--code-background-color);
    font-size: 0.7em;
    color: #acacac;
    font-variant: small-caps;
    padding-left: .3em;
    padding-right: .3em;
    border-radius: var(--code-body-boder-radius);
    
}

/* ===================================
           MY code blockers
   =================================== */

/* 
julia
*/
.code-julia {
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-width: 0;
    border-radius: var(--code-body-boder-radius);
    margin-bottom: 1em;
    background-color: var(--code-background-color);
    border: var(--code-body-boder-thickness) dashed var(--code-julia-color-dark);
    font-size: var(--text-sm);
    line-height: 1.2em;
}

.code-julia-legend {
    background-color: var(--code-julia-color-light);
    font-size: var(--text-sm);
    font-variant: small-caps;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .1em;
    border-radius: var(--code-body-boder-radius);
    border: 2px solid var(--code-julia-color-dark);
}

.code-julia .hljs {
    background-color: transparent;
    border: 0;
    margin: 0%;
    padding: 0em;
    padding-left: 1em ;
}

.code-julia pre {
    margin: 0;
}

.code-julia code {
    padding: 0;
    padding-top: 0px;
}


/* 
markdown
*/
.code-markdown {
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-width: 0;
    border-radius: var(--code-body-boder-radius);
    margin-bottom: 1em;
    background-color: var(--code-background-color);
    border: var(--code-body-boder-thickness) dashed var(--code-markdown-color-dark);
    font-size: var(--text-sm);
    line-height: 1.2em;
}

.code-markdown-legend {
    background-color: var(--code-markdown-color-light);
    font-size: var(--text-sm);
    font-variant: small-caps;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .1em;
    border-radius: var(--code-body-boder-radius);
    border: 2px solid var(--code-markdown-color-dark);
}

.code-markdown .hljs {
    background-color: transparent;
    border: 0;
    margin: 0%;
    padding: 0em;
    padding-left: 1em ;
}

.code-markdown pre {
    margin: 0;
}

.code-markdown code {
    padding: 0;
    padding-top: 0px;
}


/* 
bash
*/
.code-bash {
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-width: 0;
    border-radius: var(--code-body-boder-radius);
    margin-bottom: 1em;
    background-color: var(--code-background-color);
    border: var(--code-body-boder-thickness) dashed var(--code-bash-color-dark);
    font-size: var(--text-sm);
    line-height: 1.2em;
}

.code-bash-legend {
    background-color: var(--code-bash-color-light);
    font-size: var(--text-sm);
    font-variant: small-caps;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .1em;
    border-radius: var(--code-body-boder-radius);
    border: 2px solid var(--code-bash-color-dark);
}

.code-bash .hljs {
    background-color: transparent;
    border: 0;
    margin: 0%;
    padding: 0em;
    padding-left: 1em ;
}

.code-bash pre {
    margin: 0;
}

.code-bash code {
    padding: 0;
    padding-top: 0px;
}


/* 
shell
*/
.code-shell {
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-width: 0;
    border-radius: var(--code-body-boder-radius);
    margin-bottom: 1em;
    background-color: var(--code-background-color);
    border: var(--code-body-boder-thickness) dashed var(--code-shell-color-dark);
    font-size: var(--text-sm);
    line-height: 1.2em;
}

.code-shell-legend {
    background-color: var(--code-shell-color-light);
    font-size: var(--text-sm);
    font-variant: small-caps;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .1em;
    border-radius: var(--code-body-boder-radius);
    border: 2px solid var(--code-shell-color-dark);
}

.code-shell .hljs {
    background-color: transparent;
    border: 0;
    margin: 0%;
    padding: 0em;
    padding-left: 1em ;
}

.code-shell pre {
    margin: 0;
}

.code-shell code {
    padding: 0;
    padding-top: 0px;
}



/* 
perl
*/
.code-perl {
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-width: 0;
    border-radius: var(--code-body-boder-radius);
    margin-bottom: 1em;
    background-color: var(--code-background-color);
    border: var(--code-body-boder-thickness) dashed var(--code-perl-color-dark);
    font-size: var(--text-sm);
    line-height: 1.2em;
}

.code-perl-legend {
    background-color: var(--code-perl-color-light);
    font-size: var(--text-sm);
    font-variant: small-caps;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .1em;
    border-radius: var(--code-body-boder-radius);
    border: 2px solid var(--code-perl-color-dark);
}

.code-perl .hljs {
    background-color: transparent;
    border: 0;
    margin: 0%;
    padding: 0em;
    padding-left: 1em ;
}

.code-perl pre {
    margin: 0;
}

.code-perl code {
    padding: 0;
    padding-top: 0px;
}



/* 
rust
*/
.code-rust {
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-width: 0;
    border-radius: var(--code-body-boder-radius);
    margin-bottom: 1em;
    background-color: var(--code-background-color);
    border: var(--code-body-boder-thickness) dashed var(--code-rust-color-dark);
    font-size: var(--text-sm);
    line-height: 1.2em;
}

.code-rust-legend {
    background-color: var(--code-rust-color-light);
    font-size: var(--text-sm);
    font-variant: small-caps;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .1em;
    border-radius: var(--code-body-boder-radius);
    border: 2px solid var(--code-rust-color-dark);
}

.code-rust .hljs {
    background-color: transparent;
    border: 0;
    margin: 0%;
    padding: 0em;
    padding-left: 1em ;
}

.code-rust pre {
    margin: 0;
}

.code-rust code {
    padding: 0;
    padding-top: 0px;
}



/* 
plain
*/
.code-plain {
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-width: 0;
    border-radius: var(--code-body-boder-radius);
    margin-bottom: 1em;
    background-color: var(--code-background-color);
    border: var(--code-body-boder-thickness) dashed var(--code-plain-color-dark);
    font-size: var(--text-sm);
    line-height: 1.2em;
}

.code-plain-legend {
    background-color: var(--code-plain-color-light);
    font-size: var(--text-sm);
    font-variant: small-caps;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .1em;
    border-radius: var(--code-body-boder-radius);
    border: 2px solid var(--code-plain-color-dark);
}

.code-plain .hljs {
    background-color: transparent;
    border: 0;
    margin: 0%;
    padding: 0em;
    padding-left: 1em ;
}

.code-plain pre {
    margin: 0;
}

.code-plain code {
    padding: 0;
    padding-top: 0px;
}



/* 
python
*/
.code-python {
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-width: 0;
    border-radius: var(--code-body-boder-radius);
    margin-bottom: 1em;
    background-color: var(--code-background-color);
    border: var(--code-body-boder-thickness) dashed var(--code-python-color-dark);
    font-size: var(--text-sm);
    line-height: 1.2em;
}

.code-python-legend {
    background-color: var(--code-python-color-light);
    font-size: var(--text-sm);
    font-variant: small-caps;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .1em;
    border-radius: var(--code-body-boder-radius);
    border: 2px solid var(--code-python-color-dark);
}

.code-python .hljs {
    background-color: transparent;
    border: 0;
    margin: 0%;
    padding: 0em;
    padding-left: 1em ;
}

.code-python pre {
    margin: 0;
}

.code-python code {
    padding: 0;
    padding-top: 0px;
}



/* 
json
*/
.code-json {
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-width: 0;
    border-radius: var(--code-body-boder-radius);
    margin-bottom: 1em;
    background-color: var(--code-background-color);
    border: var(--code-body-boder-thickness) dashed var(--code-json-color-dark);
    font-size: var(--text-sm);
    line-height: 1.2em;
}

.code-json-legend {
    background-color: var(--code-json-color-light);
    font-size: var(--text-sm);
    font-variant: small-caps;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .1em;
    border-radius: var(--code-body-boder-radius);
    border: 2px solid var(--code-json-color-dark);
}

.code-json .hljs {
    background-color: transparent;
    border: 0;
    margin: 0%;
    padding: 0em;
    padding-left: 1em ;
}

.code-json pre {
    margin: 0;
}

.code-json code {
    padding: 0;
    padding-top: 0px;
}



/* 
html
*/
.code-html {
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-width: 0;
    border-radius: var(--code-body-boder-radius);
    margin-bottom: 1em;
    background-color: var(--code-background-color);
    border: var(--code-body-boder-thickness) dashed var(--code-html-color-dark);
    font-size: var(--text-sm);
    line-height: 1.2em;
}

.code-html-legend {
    background-color: var(--code-html-color-light);
    font-size: var(--text-sm);
    font-variant: small-caps;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .1em;
    border-radius: var(--code-body-boder-radius);
    border: 2px solid var(--code-html-color-dark);
}

.code-html .hljs {
    background-color: transparent;
    border: 0;
    margin: 0%;
    padding: 0em;
    padding-left: 1em ;
}

.code-html pre {
    margin: 0;
}

.code-html code {
    padding: 0;
    padding-top: 0px;
}



/* 
javascript
*/
.code-javascript {
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-width: 0;
    border-radius: var(--code-body-boder-radius);
    margin-bottom: 1em;
    background-color: var(--code-background-color);
    border: var(--code-body-boder-thickness) dashed var(--code-javascript-color-dark);
    font-size: var(--text-sm);
    line-height: 1.2em;
}

.code-javascript-legend {
    background-color: var(--code-javascript-color-light);
    font-size: var(--text-sm);
    font-variant: small-caps;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .1em;
    border-radius: var(--code-body-boder-radius);
    border: 2px solid var(--code-javascript-color-dark);
}

.code-javascript .hljs {
    background-color: transparent;
    border: 0;
    margin: 0%;
    padding: 0em;
    padding-left: 1em ;
}

.code-javascript pre {
    margin: 0;
}

.code-javascript code {
    padding: 0;
    padding-top: 0px;
}



/* 
css
*/
.code-css {
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-width: 0;
    border-radius: var(--code-body-boder-radius);
    margin-bottom: 1em;
    background-color: var(--code-background-color);
    border: var(--code-body-boder-thickness) dashed var(--code-css-color-dark);
    font-size: var(--text-sm);
    line-height: 1.2em;
}

.code-css-legend {
    background-color: var(--code-css-color-light);
    font-size: var(--text-sm);
    font-variant: small-caps;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .1em;
    border-radius: var(--code-body-boder-radius);
    border: 2px solid var(--code-css-color-dark);
}

.code-css .hljs {
    background-color: transparent;
    border: 0;
    margin: 0%;
    padding: 0em;
    padding-left: 1em ;
}

.code-css pre {
    margin: 0;
}

.code-css code {
    padding: 0;
    padding-top: 0px;
}

